<!DOCTYPE html>
<html>
<head>
    <title>Fashion Vixen's Diaries</title>
</head>
<body>
  
  <h1 class="first">Fashion Vixen's Diaries</h1>
  <h2>Best kept secrets in fashion and beauty...</h2>
  <!-- <p class="quote">"People will stare, make it worth their while..." -Harry Winston borrowed by 
  Fashion Vixen</p> -->

  <div class="main">
    <img class="open" src="https://hd.unsplash.com/38/QoR8Bv1S2SEqH6UcSJCA_Tea.jpg">
    <div class="slogan">
      <span>
        "People will stare, make it worth their while..." -Harry Winston 
      </span>
    </div>  
  </div>
</body>
</html>


