<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
  <h1 class="first">Fashion Vixen's Diaries</h1>

  <hr>
  
  <h1>Fashion Vixen x J. Ashton</h2>

<main>
  <section class="col-4-md">
    <h3>Hello</h3>
    <code><p>It's a philosophy of life. A practice. If you do this, something will change, what will change is that you will change, your life will change, and if you can change you, you can perhaps change the world.</p></code>
  </section>

  <section class="col-4-md">
    <h3>its</h3>
    <code><p>It's a philosophy of life. A practice. If you do this, something will change, what will change is that you will change, your life will change, and if you can change you, you can perhaps change the world.</p></code>
  </section>

  <section class="col-4-md">
    <h3>me</h3>
    <code><p>It's a philosophy of life. A practice. If you do this, something will change, what will change is that you will change, your life will change, and if you can change you, you can perhaps change the world.</p></code>
  </section>

  <section >
    <h3>Hello</h3>
    <code><p>It's a philosophy of life. A practice. If you do this, something will change, what will change is that you will change, your life will change, and if you can change you, you can perhaps change the world.</p></code>
  </section>

  <section>
    <h3>its</h3>
    <code><p>It's a philosophy of life. A practice. If you do this, something will change, what will change is that you will change, your life will change, and if you can change you, you can perhaps change the world.</p></code>
  </section>

  <section>
    <h3>me</h3>
    <code><p>It's a philosophy of life. A practice. If you do this, something will change, what will change is that you will change, your life will change, and if you can change you, you can perhaps change the world.</p></code>
  </section>

  </main>
</body>
</html>